[Unit]
Description=RootPermit sealed APT helper
Documentation=https://github.com/amitcse/RootPermit
After=rootpermitd.service
Requires=rootpermitd.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/lib/rootpermit/rootpermit-apt-helper
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProcSubset=pid
RestrictAddressFamilies=AF_UNIX
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
UMask=0077
Environment=LANG=C
Environment=PATH=/usr/sbin:/usr/bin:/sbin:/bin
ReadOnlyPaths=/var/lib/rootpermit/plans /var/lib/rootpermit/store
ReadWritePaths=/var/lib/rootpermit/journal

[Install]
RequiredBy=rootpermitd.service
